.navigation {
	grid-area: n;
	background-color: #454342;
}

.title {
	margin: 30px auto 0px;

	color: #F4C58E;
	font-size: 24px;
	font-weight: 500;
	font-family: 'Fira Sans Extra Condensed';

	text-align: center;
}

.nav {
	margin-top: 20px;
}