.photoInfoBlock {
	display: grid;
	width: 100%;

	grid-template-columns: 1fr 1fr;
	grid-template-rows: 380px;
	column-gap: 20px;
}

.recipePhoto {
	height: 100%;
	width: 100%;
	object-fit: cover;
	background-position: center; 
	background-repeat: no-repeat;
}